[2019-07-10 10:10] RomanMilishchuk commented on #265
@gz-c then looks, like everything is ok.

One point, that while computing the hash of firmware, then the size of firmware is just used from the [meta](https://github.com/skycoin/hardware-wallet/blob/454a28ebbfb8bc3d77f835b88a3044c04d974bd0/tiny-firmware/bootloader/signatures.c#L72), so there is an option to append new code, but I think that there is no problem, as this code would never be called.

[2019-07-10 20:52] #212 closed

[2019-07-11 00:15] olemis commented on #286
@stdevstark pls take a look into this and finish asap . Thnx in advance .

[2019-07-11 01:10] stdevStark commented on #286
ok

[2019-07-11 15:19] stdevStark commented on #286
@olemis see #305 . Can you test with device? I have no device with RDP .

[2019-07-11 19:10] stdevAlDen opened #306 "Improve fsm test to make use of 24 words seed."
**Feature description**

Describe the feature

**Is your feature request related to a problem? Please describe.**
Almost all tests are working with 12 words seed.

**Describe the solution you'd like**
make use of the 24 words seed too.

[2019-07-12 08:05] #268 closed

[2019-07-12 08:23] jdknives commented on #110
@stdevAlDen @YuraYelisieiev this file has been moved or deleted on the recent branch and I could not find it with a grep. Is this still a valid issue?

[2019-07-12 08:25] jdknives commented on #265
@RomanMilishchuk @gz-c @olemis Will close this as there are no more commenrs as far as I can see and nothing needs to be fixed.

[2019-07-12 08:25] #265 closed

[2019-07-12 13:18] olemis commented on #265
@jdknives is there an open PR for this ?

[2019-07-12 23:46] stdevAlDen opened #308 "Write test for is sha256 digest hex"
**Feature description**
All tests are running with hexadecimal messages, work on some tests with binary buffer.

**Describe the solution you'd like**
Add a test to make `is_sha256_digest_hex` return false

**Possible implementation**
Add new tests

[2019-07-15 06:47] therealssj opened #310 "send failure missing case"
**Describe the bug**
The send failure function does not handle the case added in [this](https://github.com/skycoin/hardware-wallet-protob/commit/5d2018b33d3c7a5e6ecce13de953c900838c3fb5) protob commit.

**Environment information:**
- Not relevant

**Steps to Reproduce**
Steps to reproduce the behavior:
1. git submodule update --remote
2. make clean && make emulator

**Actual behavior**
[code]

**E

[2019-07-15 14:27] stdevAlDen commented on #110
@jdknives looks as deprecated but in any case [this return value](https://github.com/skycoin/hardware-wallet/blob/862f0bd5db4988bc6d6bdef0af652f66917a9794/tiny-firmware/firmware/fsm_impl.c#L260) need to be checked.

[2019-07-15 18:16] #310 closed

[2019-07-15 18:22] jdknives commented on #298
Closed by #304

[2019-07-15 18:22] #298 closed

[2019-07-15 18:28] jdknives commented on #208
@olemis This has not been touched for a while. (Or rather the PR #209 ) If Stark cannot do it for some reason, one of the Ukrainian team members could give this a shot.

[2019-07-15 22:40] stdevAlDen opened #313 "Fix buffer size for CheckMessageSignature"
**Feature description**

Set buffer size.

**Is your feature request related to a problem? Please describe.**
Some buffers are determined based on protobuf fields message size

**Describe the solution you'd like**
Just use the well know size for message and signature

**Additional context**
Remove the TODO comment about this in the code

[2019-07-15 23:30] olemis commented on #208
@stdevStark should be finishing tests for `reset.c` , he's been working on the other issues assigned to the Ukranian team .

[2019-07-16 00:17] stdevAlDen opened #315 "Integration and/or unit test for recovery device"
**Feature description**

Is required to write some tests to check that device recovery command is working properly.

**Is your feature request related to a problem? Please describe.**
Currently the device recovery have not any automated test

**Describe the solution you'd like**
Implement such test

**Additional context**

https://github.com/skycoin/hardware-wallet/blob/8a2c42f4a79d0deeb3f7bd776b5

[2019-07-16 00:19] stdevAlDen commented on #208
@olemis I check this as solved but actually I move it to a different issue, [here](https://github.com/skycoin/hardware-wallet/issues/315) the details, pls consider this for the next release.

[2019-07-17 10:37] jdknives commented on #82
Outdated as the js interface is to be deprecated.

[2019-07-17 10:37] #82 closed

[2019-07-17 10:39] jdknives commented on #127
I close this as it sounds there is nothing we can or should do about that.

[2019-07-17 10:46] jdknives commented on #133
@Senyoret1 this has been implemented already as far as I can see. Is that correct?

[2019-07-17 11:07] jdknives commented on #266
@olemis you removed the Milestone 1 label 18 days ago but it is still attached to it via the Milestone feature. Do we need to fix this for v1?

[2019-07-17 11:42] Senyoret1 commented on #133
Yes, I'm closing it

[2019-07-17 11:42] #133 closed

[2019-07-17 14:51] olemis commented on #127
No , please keep it open . This is a real issue that needs to be fixed to enable Travis CI for `osx`

[2019-07-17 14:53] olemis commented on #127
@YuraYelisieiev once again , this is not related to the original problem . I'll assign this to someone else.

Valgrind is just a tool . The issue is not related to Valgrind . If not possible to use Valgrind then feel free to use something else or nothing at all . Issue needs to be fixed .

[2019-07-17 19:18] stdevAlDen commented on #247
Add install instructions for SDL.

[2019-07-17 19:23] stdevAlDen commented on #247
https://github.com/skycoin/hardware-wallet/blob/8a2c42f4a79d0deeb3f7bd776b56c126cf7322c8/ci-scripts/install-osx.sh#L14-L15

[2019-07-17 20:51] olemis commented on #266
this is not v1 feature

[2019-07-17 20:56] Retsediv commented on #299
@olemis why did you close this issue? It's not solved yet

[2019-07-17 20:57] olemis commented on #299
closing issue considering this

[2019-07-17 20:58] olemis commented on #299
as per your comments above ... what needs to be done ?

[2019-07-17 21:00] Retsediv commented on #299
please, read the whole comment

so, we need to fix recompilation during signing (I will change issue title)

[2019-07-17 21:01] #313 closed

[2019-07-17 21:03] #306 closed

[2019-07-17 21:03] #308 closed

[2019-07-17 21:07] olemis commented on #84
not v1 feature

[2019-07-17 21:22] olemis commented on #299
ok @Retsediv issue assigned to you .

[2019-07-17 21:34] #286 closed

[2019-07-17 21:37] #110 closed

[2019-07-18 14:27] YuraYelisieiev opened #316 "Bootloader issues"
In general:
- We need to get rid of the static asserts in files. For example in storage.c.

[rng.h](https://github.com/skycoin/hardware-wallet/blob/ae2e6584224d18c8b80c00d21f1ddca34d9bbea7/tiny-firmware/rng.h)
- We need to change the include structure. Because now the way it compiles is not appropriate.

signatures.c:
- why do need [SIG_OK](https://github.com/skycoin/hardware-wallet/blob/a2898d471

[2019-07-19 08:20] jdknives commented on #316
Thanks for the review. Do I understand that correctly that questions 1-3 need to be answered for v1 and the bullet points above are improvement proposals or questions  for v2? @RomanMilishchuk @YuraYelisieiev

[2019-07-19 12:45] #287 closed

[2019-07-19 12:45] #288 closed

[2019-07-19 13:32] gz-c commented on #316
What is wrong with the `_Static_assert`?

[2019-07-21 06:55] #208 closed

[2019-07-21 16:54] olemis commented on #316
There is nothing wrong with them . They are there to ensure some preconditions are met at compile time . Removing those can lead to major issues.

[2019-07-22 07:12] gz-c opened #318 "make test fails with compilation error on macos"
**Describe the bug**

[code]

[2019-07-22 10:26] YuraYelisieiev commented on #316
As I remember Asserts needs to be removed in the release because developers uses them only during the testing period.

[2019-07-22 10:36] gz-c commented on #316
these asserts should not be stripped out of releases. if any of these asserts fail the program should abort immediately

[2019-07-22 13:12] RomanMilishchuk commented on #316
@jdknives As for me, next problems should fixed for v1:
- > Here button is checked after 100000 cycles of nop, while some of button is pressed. What is the sense of it, because user can quick press in such way, that bootloader won't see it. And in this time processor is literally doing nothing, so it is better to all this time just checking, if button was pressed
- > Here is checking if new firmwa

[2019-07-22 13:25] YuraYelisieiev commented on #318
@gz-c There was the same problem on Windows, did you pull the last version? Because now it works for me.

[2019-07-22 13:29] YuraYelisieiev commented on #318
@gz-c But there is another problem. If we enter `make full-firmware` and then `make test` there appears the next problem:
[code]
However, if firstly `make clean` and then `make test` everything is okay.

[2019-07-22 14:20] gz-c commented on #318
It is fixed in develop, thanks

[2019-07-22 14:21] gz-c commented on #318
I have this problem on latest `develop` branch

[2019-07-22 14:22] YuraYelisieiev commented on #318
@gz-c Re-checked. I have only this one on macOS.

[2019-07-22 17:09] olemis commented on #318
should be solved by just updating `hardware-wallet-protob` submodule to its `master` HEAD .

[2019-07-22 17:11] olemis commented on #318
e.g.

[code]

[2019-07-22 17:12] olemis commented on #318
oh no , my mistake ...

[2019-07-22 17:30] olemis commented on #318
@gz-c looks like a merge issue or something like that in your working copy . It seems to be working for me on `osx`

[2019-07-22 17:36] olemis commented on #318
wait ... this is the root cause , which should be solved by following [steps above](https://github.com/skycoin/hardware-wallet/issues/318#issuecomment-513871940) .

[2019-07-22 17:36] #318 closed

[2019-07-23 09:16] jdknives opened #319 "Run TRNG tests on new devices"
Test the TRNG tests that are described here: https://github.com/skycoin/hardware-wallet#validate-the-trng on the new devices received and used for production. Report the results here please.

[2019-07-23 10:33] RomanMilishchuk commented on #319
When `skycoin-hw-cli getMixedEntropy --outFile stm32_rng_mixed_$i.dat --entropyBytes 1048576` is running after 83-84 % of bytes are getted cli gives error. Example of one of it (out of 8):
[code]

But for raw entropy everything works and now running for them tests. Publish as soon as it will finish.

[2019-07-23 10:43] jdknives commented on #319
@olemis @stdevAlDen have you encountered this before?
@RomanMilishchuk you followed the instructions for building the firmware, I assume?

[2019-07-23 12:31] YuraYelisieiev commented on #302
@stdevAlDen @olemis doesn`t work for OSX.

[2019-07-23 14:57] Macrosrider commented on #192
I'm almost done, but in function flash_erase_all_sectors() (in flash.c) memset() caused 'Segmantation fault' on Windows. What's also interestig, it caused only once, on first run after build, then in oledInit() (oled.c) I got error 'Failed to initialize SDL: No available video device'

[2019-07-23 21:12] stdevAlDen commented on #302
@YuraYelisieiev did you install the [required tools](https://github.com/skycoin/hardware-wallet#generating-tests-code-coverage)?
what error are you having?

[2019-07-23 22:45] stdevAlDen commented on #319
@jdknives I was able to reproduce, so I'm working in...
@RomanMilishchuk unfortunately there is no an alternative path that you can follow, I'm going to solve this asap.

[2019-07-24 01:24] stdevAlDen commented on #319
tele

@RomanMilishchuk & @jdknives Fixed in https://github.com/skycoin/hardware-wallet-go/pull/149
Please, let me know if this work for you.

[2019-07-24 10:29] YuraYelisieiev commented on #302
@stdevAlDen yeap, I followed the instructions, but I have this error.
[code]

[2019-07-24 11:06] RomanMilishchuk commented on #319
That PR helped, so [here](https://drive.google.com/open?id=1Q4g7Pqs5b3kvnqE1ShbNIkPZGQuEu2yP) are results of tests.

[2019-07-24 11:56] jdknives commented on #319
@olemis @stdevAlDen I assigned you for the review of the results.

[2019-07-24 12:18] Senyoret1 opened #321 "[WIP] The process for backing up the seed is not canceled correctly"
**Describe the bug**
If the user is backing up the seed (the device is showing the words in the screen) and it is requested to cancel the operation, the operation is not canceled correctly. Instead of showing the home screen again, the device shows the confirmation screen asking the user if the seed was properly backed up and the device buttons do nothing, so the device appears to be unresponsive.

[2019-07-25 07:10] #270 closed

[2019-07-25 07:12] olemis commented on #316
indeed , if assertions are not met code will fail to be compiled .

[2019-07-25 08:14] RomanMilishchuk commented on #316
@olemis this was written above and canceled a few days ago, could you reply to my last comment above?

[2019-07-25 10:12] jdknives commented on #319
@stdevAlDen @olemis please confirm, whether you can analyse the results of above test run.

[2019-07-25 17:12] stdevAlDen commented on #319
@jdknives sorry for the delay in responding, I was looking for in the files and I was able to find an improvement from the [previous run](https://github.com/skycoin/hardware-wallet/pull/157#issue-266297643). But my criteria cannot be decisive since I am not an expert in mathematics with statistics background, so other reviews are welcome.
@RomanMilishchuk good work

[2019-07-25 18:05] stdevAlDen commented on #321
@Senyoret1 unable to reproduce with `firmware` and `skycoin-hw-cli`.
@olemis can you please try this?

[2019-07-25 18:11] olemis commented on #319
@stdevAlDen need to compare results of mixed vs raw entropy

[2019-07-25 19:42] stdevAlDen commented on #319
@olemis in some specific points this get better results and in others get worse results, but the general, but the general tendency is to improve.
pd: mixed against raw

[2019-07-25 21:24] stdevAlDen commented on #321
@Senyoret1 we found some errors, working on...

[2019-07-25 21:28] stdevAlDen commented on #191
This [`layoutHome`](https://github.com/skycoin/hardware-wallet/blob/92f2bb11b7a7f29773cb236c556a404ff2f72181/tiny-firmware/firmware/reset.c#L148) call may be overridden by upper layers.

[2019-07-25 21:29] stdevAlDen commented on #191
Do not send protocol responses in [this layer](https://github.com/skycoin/hardware-wallet/blob/92f2bb11b7a7f29773cb236c556a404ff2f72181/tiny-firmware/firmware/reset.c#L149).

[2019-07-25 21:41] stdevAlDen commented on #191
Remove [`msg`](https://github.com/skycoin/hardware-wallet/blob/92f2bb11b7a7f29773cb236c556a404ff2f72181/tiny-firmware/firmware/fsm_impl.c#L577) param.

[2019-07-26 00:21] stdevAlDen commented on #316
related to [this](https://github.com/skycoin/hardware-wallet/issues/54)?

there is no `bool` data type in c99, no `true` no `false`, just integers.

please use a permanent link here

maybe related to this https://github.com/skycoin/hardware-wallet/issues/27

maybe this is unused, I can not find it from [here](https://github.com/skycoin/hardware-wallet-protob/blob/bd9f95c53447f97ac56f24a415c25d0468

[2019-07-26 09:10] jdknives commented on #316
@stdevAlDen thanks for the comments. However it seems that the most important part, the questions 1-3 at the end were not answered. Would you mind doing that?

[2019-07-26 15:44] stdevAlDen commented on #316
@jdknives sure.
I have no idea on how much this matter for the bootloader, but I found an important detail, this code does not exist in [the original project](https://github.com/trezor/trezor-mcu/blob/8af1f3643651e1cbee6b6196401f9c63e7cfc0f9/bootloader/usb.c#L120-L395). In addition consider my last comment here.
PD: investing more time I can come back with a better answer/solution but I'm fighting

[2019-07-29 13:56] jdknives commented on #319
@RomanMilishchuk what are the results of the other 2 devices that you ran the tests against?

[2019-07-29 17:15] olemis commented on #319
@RomanMilishchuk to be sure , the test suite must run in RA (i.e. resolve ambiguity) mode so that a final decision be made regarding `WEAK` , see [dieharder man page](https://www.systutorials.com/docs/linux/man/1-dieharder/) .

@stdevAlDen is this the right `man` page for the command in use ?

[2019-07-29 20:02] stdevAlDen opened #324 "Run dieharder in resolve ambiguity mode."
**Feature description**

Describe the feature

**Describe the solution you'd like**
Run dieharder in resolve ambiguity mode.

**Additional context**
https://www.systutorials.com/docs/linux/man/1-dieharder/

**Possible implementation**
Add the `-Y` flag to the `dieharder` program.

[2019-07-29 20:08] stdevAlDen commented on #319
@olemis [done](https://github.com/skycoin/hardware-wallet/pull/325)

[2019-07-30 04:55] #324 closed

[2019-07-30 04:57] olemis commented on #319
@RomanMilishchuk could you please rerun TRNG test suite after changes committed in #325

[2019-07-30 05:00] olemis commented on #316
in any case this is not a v1 issue

[2019-07-30 11:10] RomanMilishchuk commented on #319
@olemis ok

[2019-08-02 23:08] #321 closed

[2019-08-05 12:01] jdknives commented on #319
@RomanMilishchuk what was the outcome of that?

[2019-08-06 06:15] RomanMilishchuk commented on #319
@jdknives I have discussed it in Discord, sending results into Telegram chat.

[2019-08-06 19:11] stdevAlDen opened #327 "Error in pub keys references in documentation."
**Describe the bug**
Wrong documentation for pub keys location.

**Environment information:**

- Any

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Go to [this link](https://github.com/skycoin/hardware-wallet/tree/d43657c574dad5ed5c823a32f30b04e94fd6f356/tiny-firmware#you-need-three-signatures).

**Actual behavior**
Wrong path documentation for pub keys.

**Expected behavior**
The ri

[2019-08-12 14:23] stdevAlDen opened #329 "Openocd support"
**Feature description**

Confirm if we are going to support openocd
https://github.com/skycoin/hardware-wallet/blob/d43657c574dad5ed5c823a32f30b04e94fd6f356/Makefile#L229-L230

if "yes", then check if this is working properly.

**Describe the solution you'd like**
Work based on the decision.

[2019-08-14 09:38] jdknives opened #330 "Make Bootloader mem protect is dysfunctional"
**Describe the bug**
When using `make bootloader-mem-protect`, the generated binary can be overwritten and displays an inverted Sky logo, meaning the bootloader is not mem protected.

**Environment information:**

- OS: Debian

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run make bootloder-mem-protect
2. Flash the bootloader onto a device
3. Check the inverted bootloader Sky logo
4

[2019-08-14 14:55] Macrosrider commented on #329
@stdevAlDen where is openocd.cfg file?

[2019-08-14 22:17] olemis commented on #319
Results look very good

[code]

same for mixed

[code]

... even better than `/dev/urandom`

[code]

[2019-08-14 22:18] olemis commented on #319
hence I'll close this for now

[2019-08-14 22:18] #319 closed

[2019-08-15 16:42] jdknives opened #331 "Change Signature PubKeys"
We need to change the PubKeys we use to sign the firmware in the bootloader to the following five PubKeys:

 1. "03d7fe879bea92c657797881cc2437fea86337ed4dce19859f43d023c1772c81dd",
2. "02ce15278b4d1cf5c20a2a518b95438bc1d497b1d55bddf69dbb253b538c131625",
3. "02bebd3856b3fdadc54714220819946980d413edc8bc49f679b88fd2bf99ae0e15",
4. "02015aa7da6acb423266a50db8821b42493cd2d874911c309209a003a1051c5d74",

[2019-08-16 14:20] RomanMilishchuk opened #332 "Changing bootloader even with rdp level 2"
**Describe the bug**
As mentioned by trezor [here](https://blog.trezor.io/trezor-one-firmware-update-1-6-1-eecd0534ab95), in STM32F2 chip, there is a way to disable to write protection, so bootloader can be flashed.

**Environment information:**

- OS: any
- Firmware Version: v1

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Change in FLASH_OPTCR RDP level from 2 to 0
2. Load new boo

[2019-08-16 20:23] Macrosrider commented on #329
@stdevAlDen, I wrote a simple *.cfg file, which flash firmware to the hw (more info here bdba94f). "make oflash" command works perfect on Linux and Windows. Can someone check it on MacOS?

[2019-08-16 20:34] stdevStark commented on #329
I can take a look

[2019-08-16 20:35] stdevStark commented on #329
could you please add a new PR ?

[2019-08-16 20:37] Macrosrider commented on #329
@stdevStark , will do it in a few minutes

[2019-08-16 20:39] stdevStark commented on #329
@Macrosrider how can I `git fetch` those changes ? what fork is yours ?

[2019-08-16 21:59] Macrosrider commented on #329
@stdevStark, please check related PR. Suddenly, it failed on Travis and I have no idea why, because I've just fetch upstream of skycoin/develop

[2019-08-17 02:47] stdevAlDen commented on #329
@Macrosrider due to an update in the ubuntu repository, should be get solved after merging [this pr](https://github.com/skycoin/hardware-wallet/pull/333)
@olemis | @jdknives apply for [this](https://github.com/skycoin/hardware-wallet/pull/334) and all incoming pr, so please review -> merge asap.

[2019-08-20 00:03] #331 closed

[2019-08-20 11:36] RomanMilishchuk opened #336 "Improving makefiles"
**Feature description**

Makefiles, for now, have a lot of repeatings and are complicated and require improvements.

- In skycoin-crypto Makefile, you can build a static library, so instead of including object files from skycoin-crypto directory all the time, much easier and shorter just to link it.
- create a new folder with tests and create new Makefile for them, so when I'm making full-firmware

[2019-08-20 14:55] Macrosrider commented on #127
On Windows all tests running without problems and crashes. So, it's definitely only MacOS issue

[2019-08-21 02:31] olemis commented on #127
thanks for pointer
👍

[2019-08-21 02:42] #332 closed

[2019-08-28 17:15] RomanMilishchuk opened #341 "Merging firmware/udp.c into emulator/udp.c"
**Feature description**

In the firmware folder, there is file udp.c, which is used only in [emulator](https://github.com/skycoin/hardware-wallet/blob/de590966ff5d99f678609d3ff2ca2e3d0dbe3e55/tiny-firmware/Makefile#L65), but even in realization, there is `#if EMULATOR` directive.  And most functions are using functions to emulate USB.

**Describe the solution you'd like**
 I think, that this file

[2019-08-30 10:41] RomanMilishchuk commented on #341
@stdevAlDen what do you think about it ?

[2019-08-31 21:41] #192 closed

[2019-08-31 21:41] #329 closed

[2019-08-31 21:57] olemis opened #342 "Continuous integration on Windows"
**Feature description**

Setup Windows CI

**Is your feature request related to a problem? Please describe.**
After adding Windows support , CI on Windows is needed to detect potential regressions as soon as possible.

**Describe the solution you'd like**
Setup CI on Travis

**Describe alternatives you've considered**
If not possible on Travis then on Appveyor

**Additional context**
Windows suppo

[2019-09-02 13:06] YuraYelisieiev commented on #302
@stdevAlDen  review last comment please.

[2019-09-06 08:54] #330 closed

[2019-09-06 20:44] RomanMilishchuk commented on #341
@olemis

[2019-09-07 23:08] #79 closed

[2019-09-10 11:42] #341 closed

[2019-09-10 14:17] #336 closed

[2019-09-17 16:25] #299 closed

[2019-09-17 16:31] YuraYelisieiev commented on #302
skycoin-api is a library so we can`t test it using clang.

[2019-09-17 16:31] #302 closed

[2019-09-18 06:11] SkycoinSynth commented on #295
Removing the macros may increase the binary size.

[2019-09-18 06:12] SkycoinSynth commented on #327
This is not a bug report. It is an issue with the source code.

Why are you writing a suggested change to source code as if it was a bug report?

[2019-09-18 06:21] RomanMilishchuk commented on #295
@SkycoinSynth when you are using macro, then it on the time of preprocessing replaces the macro with the code (like inline functions), so actually using of macro increase the binary size, if they are used more then one time. Functions decrease the binary size but use more memory in the runtime, because of the stack frames.

[2019-09-20 08:51] jdknives commented on #327
Just fixed this issue. It is cosmetic.

[2019-09-20 08:51] #327 closed

[2019-09-20 08:52] jdknives commented on #236
The repo header image seems alright to me. Whitespace in templates is not problematic afaics.

[2019-09-20 08:52] #236 closed

[2019-09-20 09:24] jdknives commented on #54
Closed by #227

[2019-09-20 09:24] #54 closed

[2019-09-20 09:25] #9 closed

[2019-09-20 11:23] RomanMilishchuk commented on #126
Too much time should be wasted to develop it.

[2019-09-20 11:23] #126 closed

[2019-09-20 11:36] jdknives commented on #247
This needs to be tackled. The current instructions are scattered over two Readmes and the structure could be improved. Will come up with ideas.

[2019-09-20 20:53] jdknives opened #350 "Firmware build process does not work"
**Describe the bug**
After installing the tools as described in the Readme on `master`, we tried to run `make sign`, `make firmware` and `make full-firmware`. The following error popped up:

[code]

@RomanMilishchuk suggested running `apt install build-essential`, which I did, but the error still appeared. I did not experience those issues on Ubuntu. Since Synth is on Mint, we need to get it runni

[2019-09-21 14:03] jdknives commented on #350
@YuraYelisieiev This is what I get while running `make sign`. (Make firmware was successful)

[code]

[2019-09-22 10:41] YuraYelisieiev commented on #350
...he problem was that we were run
git submodule update —init —recursive
on a develop and building binaries on master.

Steps to fix it on Mint 19, clean system.
[code]

[2019-09-23 12:54] YuraYelisieiev commented on #350
@jdknives requested to separate instructions for the signing procedure and setup.
Setup:
[code]
git clone https://github.com/skycoin/hardware-wallet.git
    5  cd hardware-wallet/
    6  git checkout master
    8  git submodule update --init --recursive --remote
    9   make clean
   10  PYTHON=python3
   11  PYTHON=python3 make bootloader-mem-protect
   15  PYTHON=python3 make firmware
   16  PYT

[2019-09-23 13:27] jdknives commented on #350
@YuraYelisieiev Thanks. Will give that a run.

[2019-09-24 03:13] jdknives commented on #350
Alright. Needed an apt update, but should be complete now. I verified that I got into the signing stages.

[2019-09-24 03:13] #350 closed

[2019-09-29 11:58] jdknives opened #353 "Wrong firmware version."
**Describe the bug**
The wrong firmware version number is displayed in the Desktop Wallet. Currenty it displays 1.7.0 while it should be 1.0.0 for release. The Desktop Wallet gets the firmware version number from the firmware itself through the dameon.

[2019-09-30 05:42] #353 closed

[2019-10-01 07:14] jdknives opened #29 "Improve Build Process"
@SkycoinSynth requested multiple changes to the build process

1. Print the Sha256 of the firmware binary after the build process.

2. Print the Sha256 of the bootloader after the build process.

3. Put the binaries created into a build directory rather than root.

4. Print the relative path from root where the binaries were put.

[2019-10-01 17:32] #295 closed

[2019-10-01 17:55] Midren opened #30 "Unofficial bootloader detected message, when RDP level 2"
**Describe the bug**
You could use Skywallet only when RDP level is 2

**Environment information:**

- OS: all
- Platform: all
- Firmware Version: 1.0.0

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run Skywallet
2. See error

**Actual behavior**
Unofficial bootloader detected

**Expected behavior**
For develop's a purpose, it could benefit, if hash checking will be skipped for RDP

[2019-10-03 08:24] Midren commented on #6
Fixed in https://github.com/skycoin/hardware-wallet/pull/349

[2019-10-03 08:43] Midren commented on #21
Too much time should be wasted to develop it with small benefits.

[2019-10-07 10:12] #30 closed, assigned to Midren

[2019-10-08 14:07] Midren opened #36 "Deterministic Builds"
@mpsido commented on Dec 26, 2018
It seems that "Gitian" allows creating deterministic builds in order to make sure the executable we use is really compiled from the source code we have.

I found a gitian.yml configuration file in trezor repository.

Here is a presentation of gitian:
https://bitcoinmagazine.com/articles/what-is-gitian-building-how-bitcoin-s-security-processes-became-a-model-for-th

[2019-10-08 14:08] Midren commented on #36
@mpsido  commented on Dec 26, 2018
Question is : shall I spend time on this ?

[2019-10-08 14:08] Midren commented on #36
@mpsido commented on Dec 26, 2018
see also https://blog.torproject.org/deterministic-builds-part-two-technical-details

[2019-10-08 14:09] Midren commented on #36
@mpsido commented on Dec 26, 2018
try this: https://stackoverflow.com/questions/14653874/how-to-produce-deterministic-binary-output-with-g

[2019-10-08 14:09] Midren commented on #36
@mpsido commented on Dec 26, 2018
Could get a deterministic emulator build by adding the compilation flag CFLAGS += -frandom-seed=123

Not tested on cross compiler

[2019-10-08 14:12] Midren commented on #36
@mpsido commented on Jan 11, 2019
Two consecutive build on the same machine have the same hash after commit [`0598635`](https://github.com/skycoin/hardware-wallet/commit/059863567898a6d51cd7b3a89dac8b32e1dc8f80)
But the md5sum was different on travis and on my machine

My machine:

On [travis build 77](https://travis-ci.com/skycoin/hardware-wallet/builds/97003523)

[2019-10-08 15:20] Midren opened #37 "GDB doesn't work on Ubuntu 18.04+"
**Describe the bug**
In makefile odebug uses arm-none-eabi-gdb, but it is deprecated and removed from the package manager. For the next versions, we had to use gdb-multiarch.

**Environment information:**

- OS: Linux
- Platform: Ubuntu 18.04+
- Firmware Version: 1.0.0

**Steps to Reproduce**
Steps to reproduce the behavior:

1. make odebug
2. See error `make: arm-none-eabi-gdb: Command not found`

[2019-10-09 03:27] #29 closed, assigned to Midren

[2019-10-09 03:37] jdknives commented on #36
@RomanMilishchuk please outline the plan you have come up for implementing this.

[2019-10-11 08:43] Midren commented on #36
Nondeterministic builds are because of:
- A different version of the compiler
- Timestamp in binaries
- Info about the directory in binary
- Different order of same object files, which are inserted in libraries
- Nondeterminism created by the compiler with enabled Link-Time Optimizations (-flto flag)

To solve all of them I propose next solutions:
- Use Docker to always have the same compiler and

[2019-10-22 00:44] 0pcom opened #40 "Trouble building firmware on linux"
[code]

Not sure what it's doing, trying to overwrite something in a system directory.

When I commented out line 91 of the Makefile, I ended up with `fatal error: stdint.h: No such file or directory`

I installed the python2-protob, avr-libc, and arm-none-eabi-newlib packages; the last one seemed to satisfy the dependency and I was able to create the bootloader.

When I then tried to build the fi

[2019-10-22 02:40] jdknives commented on #40
@0pcom we have not tested the compilation on Archlinux before. Will give that a run.

[2019-10-22 21:33] 0pcom commented on #40
Tried to build the firmware in a Debian docker container, got as far as I did with my previous attempt on Archlinux.

* first error is at line 91 of the Makefile when trying to build the bootloader

* commenting that out allows the bootloader to be built but when `make firmware` is run it fails with the same error as in my original comment.

[2019-10-24 10:34] #37 closed, assigned to nobody

[2019-10-24 13:42] Midren commented on #40
@0pcom Hardware-wallet needs protobuff 3.6.1, but it cannot reinstall your protobuff 3.7.0, because it is installed globally and needs root permissions. If I understand correctly, you have commented [this 91 line](https://github.com/SkycoinProject/hardware-wallet/blob/a3497a4b863961cc55a9468af60ef407d3b8b7eb/Makefile#L91). So after that you try to compile the firmware and its drops because you com

[2019-10-24 13:46] Midren commented on #40
@0pcom You can also try to use Debian docker container, that I have wrote for deterministic builds support in PR #41.

[2019-10-24 14:01] Midren opened #42 "Make st-flash doesn't work"
**Describe the bug**

**Environment information:**

- OS: all
- Platform: all
- Firmware Version: 1.0.0

**Steps to Reproduce**
Steps to reproduce the behavior:

1. make full-firmware
2. make st-flash

**Actual behavior**
Returns error, that file is not found

**Expected behavior**
Flashes firmware to the device

**Additional context**
After refactoring full-firmware-no-mem-protect was renamed to

[2019-10-24 15:41] #42 closed, assigned to Midren

[2019-10-25 04:29] #40 closed, assigned to nobody

[2019-10-31 13:09] Midren opened #44 "Update crypro library with Bitcoin operations"
For Bitcoin integration, we need to add all crypto-related functions, that are needed for Bitcoin but are not used in Skycoin. We need to use the functions from [trezor](https://github.com/trezor/trezor-mcu) implementation to be sure, that they work well

- [x] Investigate which functions should be added to our crypto library
- [ ] Add them to our library
- [ ] Write tests to be sure, that they ar

[2019-10-31 14:04] Midren opened #45 "Add legacy Bitcoin adresses generation"
Add Bitcoin addresses generation.

**Describe the solution you'd like**
Add keypair iterating through Bitcoin public/private keys. Also, add function to make Bitcoin addresses from public key and function to get the address from hardware-wallet using hardware-wallet-go CLI.

**Additional context:**
Message for getting address should be written in a files fsm_bitcoin and fsm_bitcoin_impl.

As we do

[2019-10-31 15:02] Midren opened #46 "Add signing transactions mechnism for Bitcoin"
Add signing transactions for Bitcoin. For now, we will be using only P2PKH.

**Describe the solution you'd like**
Implement a finite state machine to sign transactions similar to the one, that we have for [Skycoin](https://github.com/SkycoinProject/hardware-wallet/blob/545517c0c766c54baaca19c0fdf057b6c46b2393/tiny-firmware/firmware/fsm_impl.c#L601).

**Additional context**
 Message for getting add

[2019-11-01 04:43] #36 closed, assigned to Midren

[2019-11-18 13:39] Macrosrider commented on #44
At the moment, there is no reason to update crypto library, because all crypto, we need, is already implemented. But:
 -  BTC address generation method is a bit different (actually, the order of hashing and version byte positions are different)
 -  There is no P2PKH or P2SH in Skycoin
 - For transaction signing, Skycoin use Binary encodind, BTC use DER encoding instead. But, in skycoin-api/tools/e

[2019-12-03 10:21] Midren commented on #46
For now, we only need P2PKH, so TransactionSign at the end should return a list of signatures, which later will be used in unlocking script.

Below plan, how communication will be fulfilled:
![BTC Communication](https://user-images.githubusercontent.com/32875119/70042303-46e04700-15c7-11ea-8685-0b9b09839057.png)

[2019-12-17 17:22] wardady opened #49 "Update crypto library with Ethereum operations"
**Feature description**

Add SHA3 (Keccak) implementation, which is the basic hashing algorithm used in Ethereum.

**Describe the solution you'd like**
Bitcoin and Skycoin use SHA2 as the basic hashing algorithm.
For Ethereum integration we need to implement the hashing algorithm SHA3. Also, we need to check for other cryptographic functions that are used in Ethereum (check [Ethereum Yellow Paper]

[2019-12-17 18:30] wardady opened #50 "Add Ethereum address generation"
**Feature description**
Implement Ethereum address generation.

**Describe the solution you'd like**
Add the implementation of the Ethereum address generation algorithm and related functions.

**Additional context**
Message for getting address should be written in a files __fsm_ethereum__ and __fsm_ethereum_impl__.

**Possible implementation**
Ethereum uses the same crypto curve as Skycoin and Bit

[2019-12-19 12:36] wardady opened #51 "Add signing transactions mechanism for Ethereum"
**Feature description**
Add signing transactions mechanism for Ethereum

**Describe the solution you'd like**
Implement a finite state machine to sign transactions similar to the one, that we have for Skycoin and Bitcoin.

**Additional context**
Message for signing the transaction should be written in a files __fsm_ethereum__ and __fsm_ethereum_impl__.

**Possible implementation**
On the hardware-

[2020-01-20 12:09] #44 closed, assigned to Macrosrider

[2020-01-20 12:09] jdknives commented on #45
Closed by #47

[2020-01-20 12:09] #45 closed, assigned to Macrosrider

[2020-02-22 11:40] #49 closed, assigned to YuraYelisieiev

[2020-04-26 20:16] invd opened #56 "multiple security issues in the firmware, feedback requested"
Hello Skycoin team,
I've discovered a number of issues including memory safety issues in your firmware code that I want to report to you confidentially.

Unfortunately, the security contact email `security@skycoin.net` that is stated in the README.md does not appear to be functional:

[code]

I've sent the PGP encrypted report to the `@protonmail.com` email address associated with your PGP pubkey

[2020-04-28 11:17] jdknives commented on #56
@invd Hey there. Thanks for this ticket. We have switched domains and this instance of the old domain must have slipped through the cracks. You can find the up to date infos here for sending a mail: https://github.com/SkycoinProject/skycoin#responsible-disclosure

[2020-04-28 11:18] #56 closed, assigned to nobody

[2020-04-28 11:38] invd commented on #56
The new email address is also unreachable:
[code]

[2020-04-28 12:22] jdknives commented on #56
@invd sorry about the inconvenience but could you please try again? You must have sent the message minutes before the address was setup.

[2020-06-14 13:41] Senyoret1 commented on #46
@Midren I made some tests and I think some changes are needed:

- When signing a transaction, the public keys must be returned too, as currently only the signatures are being returned. This is because the SigScript for unlocking a p2pkh input needs the signature, the sighash code and the publick key. If the Skywallet returns the signature and the public key, the client could simply use 01 as the s

[2020-06-14 14:39] Midren commented on #46
@Senyoret1

- I think it would a better idea to keep transaction signing doing one job and just add another message, that will return public keys, so for different coins will be the same behavior.
- the index of the utxo in the transaction in which it was created is not needed for skywallet, as it is needed only for forming a transaction

[2020-06-16 17:52] Senyoret1 opened #59 "Ask the user to confirm the change outputs if there are no other outputs"
**Feature description**

At this moment, when signing a transaction, the user is not asked to confirm any outputs with a correctly set `address_index` property. If all outputs have the `address_index` property set to valid internal addresses, the user is not asked for confirmation at all. This should not happen, the user should always confirm any signing operation.

[2020-09-14 15:44] jdknives opened #67 "Docker build and sign is not deterministic across machines and sometimes fails"
**Describe the bug**
There are two bugs which I believe are related with the building of our firmware within the docker container and the signing of it.

Bug 1)

The docker build of the firmware is not deterministic across machines.

When @skycoin-main  ran `build.sh` he got the following hashes:

[code]

When I ran it, it gave me

[code]

The builds are deterministic across builds on the same mac

[2020-09-25 12:30] #67 closed, assigned to nobody

[2021-04-03 20:47] helpmepleaseinewb opened #77 "Error: Transaction Violates Hard Constraint: Signature Not valid for output being sent"
Error occurs when sending coins from hardware wallet. Using windows set up.

Log shows: Warn daemon: failed to record transaction error = trasanaction violates hard constraint: unspent output of ____________________________________________ does not exist.

Verify single txn softhardconstraints failed for txn

how to solve?
thank you

[2022-03-07 14:22] #50 closed, assigned to Midren

[2022-03-07 14:23] #51 closed, assigned to nobody